<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="logConfig" type="Kernel.AOP.LogConfiguration, Kernel" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kernel.Config.NotificationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Kernel.Config.ExpressSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="promoCodeConfig" type="Kernel.Config.PromoCodeConfigurationSection, Kernel" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <runtime>
    <gcServer enabled="true" />
    <gcAllowVeryLargeObjects enabled="true" />
    <GCCpuGroup enabled="true" />
    <Thread_UseAllCpuGroups enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Authentication" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Authentication.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Authentication.JwtBearer" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Authorization" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Extensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Mvc.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Mvc.ApiExplorer" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Mvc.Core" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Mvc.Formatters.Json" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.WebEncoders" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.1.0" newVersion="6.11.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.1.0" newVersion="6.11.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.1.0" newVersion="6.11.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="IdentificationServiceAddress" value="#{kernelConfig_IdentificationServiceAddress}"/>
    <add key="RabbitMQConnectionString" value="#{kernelConfig_RabbitMQConnectionString}"/>
    <add key="CashBookApiSecret" value="CashBookApiSecret" />
    <add key="LiveEventsStayAlive" value="True"/>
    <add key="LiveEventsStayAlive" value="True"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="GlobalLogBehavior" type="BaltBet.Unified.Logging.Identification.Wcf.Behaviors.GlobalLogContractBehavior, BaltBet.Unified.Logging.Wcf" />
        <add name="headerBehaviorExtension" type="Kernel.Services.Wcf.HeaderBehaviorExtensionElement, Kernel" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PaymentAggregatorBehavior">
          <clientCredentials>
            <clientCertificate findValue="/client/baltbet/kernel" storeLocation="LocalMachine" x509FindType="FindBySubjectName"/>
          </clientCredentials>
        </behavior>
        <behavior name="CpsBehavior">
          <clientCredentials>
            <clientCertificate findValue="/cps/client/app/kernel" storeLocation="LocalMachine" x509FindType="FindBySubjectName"/>
          </clientCredentials>
          <GlobalLogBehavior/>
        </behavior>
        <behavior name="KernelTrackerServiceEndpointBehavior">
          <clientCredentials>
            <clientCertificate findValue="baltbet.com" storeLocation="LocalMachine" x509FindType="FindBySubjectName"/>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="proxyKernelClientBehavior">
          <headerBehaviorExtension />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceThrottling />
        </behavior>
        <behavior name="wcfSecureServiceBehavior">
          <serviceCredentials>
            <serviceCertificate findValue="#{kernelConfig_wcfSecureServiceBehavior_CertSubjectName}" x509FindType="FindBySubjectName"/>
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="Kernel.Services.Wcf.UniAuthPolicy, Kernel"/>
            </authorizationPolicies>
          </serviceAuthorization>
          <GlobalLogBehavior/>
        </behavior>
        <behavior name="serviceServiceBehavior">
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="Kernel.Services.Wcf.ServiceAuthPolicy, Kernel" />
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceThrottling />
        </behavior>
        <behavior name="clientBehavior">
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="Kernel.Services.Wcf.ClientAuthPolicy, Kernel" />
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceThrottling />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceWebParserBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
            maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicHttpBinding_IServiceLoto" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          closeTimeout="00:00:30" openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
            maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="PaymentServiceEndPoint" allowCookies="true">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="KernelTrackerServiceEndpoint" openTimeout="00:00:03">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding maxConnections="200" listenBacklog="200" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
        <binding name="uniSecureNetTcpBinding" maxConnections="200" listenBacklog="200" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" sslProtocols="Tls12"/>
          </security>
        </binding>
        <binding name="parserBinding" maxConnections="200" listenBacklog="200" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
        <binding name="FileTransferTCP" transferMode="Streamed" maxReceivedMessageSize="10067108864" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxConnections="200">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8099/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLoto" contract="LotoService.Contracts.IServiceLoto" name="BasicHttpBinding_IServiceLoto" />
      <endpoint address="http://localhost:9011/" binding="basicHttpBinding" bindingConfiguration="ServiceWebParserBinding" contract="WebParser.Interfaces.IServiceWebParser" name="Default" />
      <endpoint address="http://localhost:9012/" binding="basicHttpBinding" bindingConfiguration="ServiceWebParserBinding" contract="WebParser.Interfaces.IServiceWebParser" name="Experimental" />
      <endpoint address="http://localhost:9013/" binding="basicHttpBinding" bindingConfiguration="ServiceWebParserBinding" contract="WebParser.Interfaces.IServiceWebParser" name="Bet365" />
      <endpoint name="RoyalPayVoucherServiceEndPoint" binding="wsHttpBinding" bindingConfiguration="PaymentServiceEndPoint" contract="BaltBet.Payment.Interfaces.IRoyalPayVoucherService" behaviorConfiguration="PaymentAggregatorBehavior" />
      <endpoint name="PaymentServiceEndPoint" binding="wsHttpBinding" bindingConfiguration="PaymentServiceEndPoint" contract="BaltBet.Payment.Interfaces.IPaymentService" behaviorConfiguration="PaymentAggregatorBehavior" />
      <endpoint name="CpsRegistrationServiceEndPoint" binding="basicHttpBinding" contract="BaltBet.Cps.Api.Interfaces.ICpsService"
        behaviorConfiguration="CpsBehavior"/>
      <endpoint name="CpsPaymentServiceEndPoint" binding="wsHttpBinding" bindingConfiguration="PaymentServiceEndPoint" contract="BaltBet.Payment.Interfaces.IPaymentService" behaviorConfiguration="CpsBehavior" />
    </client>
    <services>
      <!-- >>External (no APK) Services-->
      <service name="Kernel.Services.DocumentManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8086/DocumentManager" binding="netTcpBinding" bindingConfiguration="FileTransferTCP" contract="Kernel.ServiceContracts.IDocumentService" />
      </service>
      <!-- >>Client Services-->
      <service name="Kernel.Services.AccountGroupRightManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8085/AccountGroupRightManager" binding="netTcpBinding" contract="Kernel.ServiceContracts.IAccountGroupRightService" />
      </service>
      <service name="Kernel.Services.WebAccountBalanceManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8085/WebAccountBalanceManager" binding="netTcpBinding" contract="Kernel.ServiceContracts.IWebAccountBalanceService" />
      </service>
      <service name="Kernel.Services.AccountManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8085/ClientAccountManager" binding="netTcpBinding" contract="Kernel.ServiceContracts.IAccountService" />
      </service>
      <service name="Kernel.Services.EventDataManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8085/EventDataManager" binding="netTcpBinding" contract="Kernel.ServiceContracts.IEventService" />
      </service>
      <service name="Kernel.Services.ReportManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8085/ReportManager" binding="netTcpBinding" contract="Kernel.ServiceContracts.IReportService" />
      </service>
      <service name="Kernel.Services.PromoManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8150/PromoManager" binding="netTcpBinding" contract="Kernel.ServiceContracts.IPromoService" />
      </service>
      <service name="Kernel.Services.BetCategoryManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8085/BetCategoryManager" binding="netTcpBinding" contract="Kernel.ServiceContracts.IBetCategoryService" />
      </service>
      <service name="Kernel.Services.BetSaleManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8085/BetSaleManager" binding="netTcpBinding" contract="Kernel.ServiceContracts.IBetSaleService" />
      </service>
      <service name="Kernel.Services.BetLimitManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8085/BetLimitManager" binding="netTcpBinding" contract="Kernel.ServiceContracts.IBetLimitService" />
      </service>
      <service name="Kernel.Services.ClientBetManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8085/ClientBetManager" binding="netTcpBinding" contract="Kernel.ServiceContracts.IBetService" />
      </service>
      <service name="Kernel.Services.CouponManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8085/CouponManager" binding="netTcpBinding" contract="Kernel.ServiceContracts.ICouponService" />
      </service>
      <service name="Kernel.Services.ClientExchangeManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8085/ClientExchangeManager" binding="netTcpBinding" contract="Kernel.ServiceContracts.IExchangeService" />
      </service>
      <service name="Kernel.Services.EventBranchService" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8085/EventBranchService" binding="netTcpBinding" contract="Kernel.ServiceContracts.IEventBranchService" />
      </service>
      <!-- >>KRM Services-->
      <service name="Kernel.Services.Krm.AccountManager">
        <endpoint address="net.tcp://localhost:8101/AccountManager" binding="netTcpBinding" contract="ClientWorkspace.Interfaces.Services.AccountService.IAccountService" />
        <endpoint address="net.tcp://localhost:8101/SettingsManager" binding="netTcpBinding" contract="ClientWorkspace.Interfaces.Services.AccountService.ISettingsService" />
        <endpoint address="net.tcp://localhost:8101/FeedbackManager" binding="netTcpBinding" contract="ClientWorkspace.Interfaces.Services.AccountService.IFeedbackService" />
      </service>
      <service name="Kernel.Services.Krm.MoneyRequestManager">
        <endpoint address="net.tcp://localhost:8101/MoneyRequestManager" binding="netTcpBinding" contract="ClientWorkspace.Interfaces.Services.AccountService.IMoneyRequestService" />
      </service>
      <service name="Kernel.Services.Krm.PromocodesManager">
        <endpoint address="net.tcp://localhost:8101/PromocodesManager" binding="netTcpBinding" contract="ClientWorkspace.Interfaces.Services.PromocodesService.IPromocodesService" />
      </service>
      <service name="Kernel.Services.Krm.WorkspaceManager">
        <endpoint address="net.tcp://localhost:8101/WorkspaceManager" binding="netTcpBinding" contract="ClientWorkspace.Interfaces.Services.WorkspaceService.IWorkspaceService" />
      </service>
      <service name="Kernel.Services.Krm.EventManager">
        <endpoint address="net.tcp://localhost:8101/EventManager" binding="netTcpBinding" contract="ClientWorkspace.Interfaces.Services.EventService.IEventService" />
      </service>
      <service name="Kernel.Services.Krm.FavoritesManager">
        <endpoint address="net.tcp://localhost:8101/FavoritesManager" binding="netTcpBinding" contract="ClientWorkspace.Interfaces.Services.FavoritesService.IFavoritesService" />
      </service>
      <service name="Kernel.Services.Krm.BettingCartManager">
        <endpoint address="net.tcp://localhost:8101/BettingCartManager" binding="netTcpBinding" contract="ClientWorkspace.Interfaces.Services.BettingCartService.IBettingCartService" />
      </service>
      <service name="Kernel.Services.Krm.CoeffsManager">
        <endpoint address="net.tcp://localhost:8101/CoeffsManager" binding="netTcpBinding" contract="ClientWorkspace.Interfaces.Services.CoeffsService.ICoeffsService" />
      </service>
      <service name="Kernel.Services.Krm.BetManager">
        <endpoint address="net.tcp://localhost:8101/BetManager" binding="netTcpBinding" contract="ClientWorkspace.Interfaces.Services.BetService.IBetService" />
      </service>
      <service name="Kernel.Services.Krm.ResultsManager">
        <endpoint address="net.tcp://localhost:8101/ResultsManager" binding="netTcpBinding" contract="ClientWorkspace.Interfaces.Services.ResultsService.IResultsService" />
      </service>
      <service name="Kernel.Services.CheckoutManager" behaviorConfiguration="clientBehavior">
        <endpoint address="net.tcp://localhost:8085/CheckoutService" binding="netTcpBinding" contract="Kernel.ServiceContracts.ICheckoutService" />
      </service>
      <!-- UNI-->
      <!-- UNI.APK-CLINET-->
      <service name="Kernel.Services.Uni.Client.Payments.Balancing.PaymentBalanceService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Client.Wcf.Contracts.Payments.Balancing.IPaymentBalanceService" address="net.tcp://localhost:8200/uni/client/Payments/PaymentBalanceService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Client.Accounts.Cps.AccountManagementService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Client.Wcf.Contracts.Accounts.Cps.IAccountManagementService" address="net.tcp://localhost:8200/uni/client/cps/Accounts/AccountManagementService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Client.UserReviews.Cps.UserReviewsService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Client.Wcf.Contracts.UserReviews.Cps.IUserReviewsService" address="net.tcp://localhost:8200/uni/client/cps/UserReviews/UserReviewsService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.IdentificationManager" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Client.Wcf.Contracts.Identification.IIdentificationService" address="net.tcp://localhost:8200/uni/client/Identification/IdentificationManager" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.ReducedIdentification.ClientReducedIdentificationService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Client.Wcf.Contracts.ReducedIdentification.IClientReducedIdentificationService" address="net.tcp://localhost:8200/uni/client/Identification/Reduced" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <!-- UNI.APK-CLINET-->
      <!-- UNI.SITES-->
      <!-- >>UNI COMMON SERVICES-->
      <service name="Kernel.Services.Uni.Accounts.AccountService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Accounts.IAccountService" address="net.tcp://localhost:8200/uni/site/Accounts/AccountService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Bets.BetService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Bets.IBetService" address="net.tcp://localhost:8200/uni/site/Bets/BetService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Events.EventService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Events.IEventService" address="net.tcp://localhost:8200/uni/site/Events/EventService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Events.ResultService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Events.IResultService" address="net.tcp://localhost:8200/uni/site/Events/ResultService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Feedbacks.FeedbackService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Feedbacks.IFeedbackService" address="net.tcp://localhost:8200/uni/site/Feedbacks/FeedbackService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Bets.BetSaleService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Bets.IBetSaleService" address="net.tcp://localhost:8200/uni/site/Bets/BetSaleService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Content.ContentService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Site.Wcf.Contracts.Content.IContentService" address="net.tcp://localhost:8200/uni/site/Content/ContentService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Reviews.ReviewService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Reviews.IReviewService" address="net.tcp://localhost:8200/uni/site/Reviews/ReviewService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Promocodes.PromocodeService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Promocodes.IPromocodeService" address="net.tcp://localhost:8200/uni/site/Promocodes/PromocodeService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Promocodes.PromocodeAdminService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Promocodes.IPromocodeAdminService" address="net.tcp://localhost:8200/uni/site/Promocodes/PromocodeAdminService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Addresses.ClientAddressService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Addresses.IClientAddressService" address="net.tcp://localhost:8200/uni/site/Address/ClientAddressService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Coupons.CouponService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Coupons.ICouponService" address="net.tcp://localhost:8200/uni/site/Coupons/CouponService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <!-- <<UNI COMMON SERVICES-->
      <!-- >>UNI COM SERVICES-->
      <service name="Kernel.Services.Uni.Accounts.Com.AccountRegistrationService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Accounts.Com.IAccountRegistrationService" address="net.tcp://localhost:8200/uni/site/com/Accounts/AccountRegistrationService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Accounts.Com.IdentificationService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Accounts.Com.IIdentificationService" address="net.tcp://localhost:8200/uni/site/com/Accounts/AccountIdentificationService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Payments.Com.RoyalPayVoucherService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Payments.Com.IRoyalPayVoucherService" address="net.tcp://localhost:8200/uni/site/com/Payments/RoyalPayVoucherService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Payments.Com.PaymentService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Payments.IPaymentService" address="net.tcp://localhost:8200/uni/site/com/Payments/PaymentService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Payments.IReceiptService" address="net.tcp://localhost:8200/uni/site/com/Payments/ReceiptService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Payments.Com.IPaymentAccountService" address="net.tcp://localhost:8200/uni/site/com/Payments/PaymentAccountService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <!-- <<UNI COM SERVICES-->
      <!-- >>UNI CPS SERVICES-->
      <service name="Kernel.Services.Uni.Accounts.Cps.AccountRegistrationService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Accounts.Cps.IAccountRegistrationService" address="net.tcp://localhost:8200/uni/site/cps/Accounts/AccountRegistrationService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Accounts.Cps.AccountManagementService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Accounts.Cps.IAccountManagementService" address="net.tcp://localhost:8200/uni/site/cps/Accounts/AccountManagementService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Accounts.Cps.AuthenticationService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Accounts.Cps.IAuthenticationService" address="net.tcp://localhost:8200/uni/site/cps/Accounts/AuthenticationService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Accounts.Cps.Deprecated.CpsService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Accounts.Cps.Deprecated.ICpsService" address="net.tcp://localhost:8200/uni/site/cps/Accounts/Deprecated/CpsService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Payments.Cps.PaymentService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Payments.IPaymentService" address="net.tcp://localhost:8200/uni/site/cps/Payments/PaymentService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.Payments.Cps.PaymentHistoryService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Payments.IPaymentHistoryService" address="net.tcp://localhost:8200/uni/site/cps/Payments/PaymentHistoryService" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <service name="Kernel.Services.Uni.ReducedIdentification.SiteReducedIdentificationService" behaviorConfiguration="wcfSecureServiceBehavior">
        <endpoint contract="BaltBet.Uni.Wcf.Contracts.Accounts.Cps.ISiteReducedIdentificationService" address="net.tcp://localhost:8200/uni/site/cps/Identification/Reduced" binding="netTcpBinding" bindingConfiguration="uniSecureNetTcpBinding" />
      </service>
      <!-- <<UNI CPS SERVICES-->
      <!-- >>UNI KRM SERVICES-->
      <!-- <<UNI KRM SERVICES-->
      <!-- UNI.SITES-->
      <!-- UNI-->
    </services>
  </system.serviceModel>
  <log4net configSource="Config\Log.config" />
  <system.web>
    <machineKey validationKey="#{kernelConfig_machineKey_validationKey}" decryptionKey="#{kernelConfig_machineKey_decryptionKey}" validation="SHA1"
      decryption="Auto"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TimeBookingApi" connectionString="#{KernelConfig_TimeBookingApi_ConnectionString}" />
    <add name="Redis" connectionString="#{KernelConfig_Redis_ConnectionString}" />
  </connectionStrings>
  <logConfig enabled="True"/>
  <unity configSource="Config\UnityConfig.config" />
  <applicationSettings>
    <Kernel.Config.NotificationSettings>
      <setting name="NewPostEmail" serializeAs="String">
        <value>y.vasileva@baltbet.ru</value>
      </setting>
    </Kernel.Config.NotificationSettings>
    <Kernel.Config.ExpressSettings>
      <setting name="KRMExpressMaxLength" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CupisExpressMaxLength" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ComSiteExpressMaxLength" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ClientExpressMaxLength" serializeAs="String">
        <value>20</value>
      </setting>
    </Kernel.Config.ExpressSettings>
  </applicationSettings>
  <promoCodeConfig MaxAttemptsCount="3" Delay="0.08:00:00" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>