<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
		<add key="IdentificationServiceAddress" value="#{kernelConfig_IdentificationServiceAddress}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <add key="ClientSettingsProvider.ServiceUri" value="" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)" />
		<add key="RabbitMQConnectionString" value="#{kernelConfig_RabbitMQConnectionString}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    </appSettings>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider" xdt:Transform="InsertIfMissing">
            <providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true" xdt:Transform="InsertIfMissing">
            <providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
        <machineKey
            validationKey="#{kernelConfig_machineKey_validationKey}"
            decryptionKey="#{kernelConfig_machineKey_decryptionKey}"
            validation="SHA1"
            decryption="Auto"
            xdt:Transform="Replace" />
    </system.web>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="PaymentAggregatorBehavior" xdt:Transform="Replace" xdt:Locator="Match(name)">
                    <clientCredentials>
                        <clientCertificate findValue="/client/baltbet/kernel" storeLocation="LocalMachine" x509FindType="FindBySubjectName" />
                    </clientCredentials>
                </behavior>
                <behavior name="CpsBehavior" xdt:Transform="Replace" xdt:Locator="Match(name)">
                    <clientCredentials>
                        <clientCertificate findValue="/cps/client/app/kernel" storeLocation="LocalMachine" x509FindType="FindBySubjectName" />
                    </clientCredentials>
                    <GlobalLogBehavior />
                </behavior>
                <behavior name="KernelTrackerServiceEndpointBehavior" xdt:Transform="Replace" xdt:Locator="Match(name)">
                    <clientCredentials>
                        <clientCertificate findValue="baltbet.com" storeLocation="LocalMachine" x509FindType="FindBySubjectName" />
                        <serviceCertificate>
                            <authentication certificateValidationMode="None" revocationMode="NoCheck" />
                        </serviceCertificate>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceDebug includeExceptionDetailInFaults="true" xdt:Transform="Remove" />
                </behavior>
                <behavior name="wcfSecureServiceBehavior" xdt:Transform="Replace" xdt:Locator="Match(name)">
                    <serviceCredentials>
                        <serviceCertificate findValue="#{kernelConfig_wcfSecureServiceBehavior_CertSubjectName}" x509FindType="FindBySubjectName" />
                    </serviceCredentials>
                    <serviceAuthorization principalPermissionMode="Custom">
                        <authorizationPolicies>
                            <add policyType="Kernel.Services.Wcf.UniAuthPolicy, Kernel" />
                        </authorizationPolicies>
                    </serviceAuthorization>
                    <GlobalLogBehavior />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceWebParserBinding" maxBufferPoolSize="2147483647"
					maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" xdt:Transform="Replace" xdt:Locator="Match(name)">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                                  maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
				<binding name="uniSecureNetTcpBinding" maxConnections="200" listenBacklog="200" maxReceivedMessageSize="2147483647" xdt:Transform="Replace" xdt:Locator="Match(name)">
                    <security mode="Transport">
                        <transport clientCredentialType="None" protectionLevel="EncryptAndSign" sslProtocols="Tls12" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
    </system.serviceModel>
    <connectionStrings xdt:Transform="InsertIfMissing">
		<add name="kernelDb" connectionString="#{kernelConfig_kernelDBConnectionString}" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <logConfig enabled="True" xdt:Transform="SetAttributes(enabled)" />
</configuration>