<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint name="CpsRegistrationServiceEndPoint" binding="basicHttpBinding" contract="BaltBet.Cps.Api.Interfaces.ICpsService" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PaymentAggregatorBehavior" xdt:Locator="Match(name)">
          <clientCredentials xdt:Transform="Insert">
            <clientCertificate findValue="/client/test.kernel" storeLocation="LocalMachine" x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="CpsBehavior" xdt:Locator="Match(name)">
          <clientCredentials xdt:Transform="Insert">
            <clientCertificate findValue="/client/test.kernel" storeLocation="LocalMachine" x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="KernelTrackerServiceEndpointBehavior" xdt:Locator="Match(name)">
          <clientCredentials xdt:Transform="Insert">
            <clientCertificate findValue="baltbet.com" storeLocation="LocalMachine" x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="wcfSecureServiceBehavior" xdt:Locator="Match(name)">
          <serviceCredentials xdt:Transform="Insert">
            <serviceCertificate findValue="test.wcf.host" x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="uniSecureNetTcpBinding" maxConnections="200" listenBacklog="200" maxReceivedMessageSize="2147483647" xdt:Locator="Match(name)">
          <security xdt:Transform="Remove"/>
          <security mode="Transport" xdt:Transform="Insert">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" sslProtocols="Tls12" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>