<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="kernelDb" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="Redis" connectionString="#{KernelConfig_Redis_ConnectionString}" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)"/>
    <add name="TimeBookingApi" connectionString="#{KernelConfig_TimeBookingApi_ConnectionString}" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)"/>
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RabbitMQConnectionString" value="#{RabbitMQConnectionString}" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="IdentificationServiceAddress" value="#{IdentServiceAddress}"/>
    <add xdt:Transform="Insert" key="LiveEventsStayAlive" value="True"/>
  </appSettings>
  <system.web>
    <machineKey
        validationKey="#{KernelConfig_machineKey_validationKey}"
        decryptionKey="#{KernelConfig_machineKey_decryptionKey}"
        validation="SHA1"
        decryption="Auto"
        xdt:Transform="SetAttributes(validationKey, decryptionKey)"
      />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding xdt:Transform="Replace" xdt:Locator="Match(name)" name="ServiceWebParserBinding" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
            maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding xdt:Transform="Replace" xdt:Locator="Match(name)" name="BasicHttpBinding_IServiceLoto" maxBufferPoolSize="2147483647"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:00:30"
            openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
           maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding xdt:Transform="Replace" xdt:Locator="Match(name)" name="PaymentServiceEndPoint" allowCookies="true">
          <security mode="Transport" >
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="CpsRegistrationServiceEndPoint" binding="basicHttpBinding" contract="BaltBet.Cps.Api.Interfaces.ICpsService" behaviorConfiguration="CpsBehavior" xdt:Transform="Replace" xdt:Locator="Match(name)"/> 
    </client>
  </system.serviceModel>
  <logConfig xdt:Transform="SetAttributes(enabled)" enabled="True"/>
</configuration>